body{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}
form{
    grid-area: 2/2/3/3;
    border-radius: 10% ;
    border:1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: larger;
}
a{
    grid-area: 3/2/3/3;
}

