.claseTransicion{
    transition: background-color 1s, font-size 1s, border 1s ;
}
.claseTransicion:hover{
    /* background-color: blueviolet; */
    font-size: x-large;
    border: 4px solid black;
}
.contenedor{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    align-items: center;
}
.tituloAlta{
    grid-area: 1/2/2/3;
}
.formularioAlta{
    display: grid;
    grid-template-columns: auto;
    grid-area: 2/1/3/4;
    justify-items: center;
    background-color: rgba(95, 158, 160, 0.599);
    padding: 10px;
    border: 2px black solid;
    border-radius: 2%;
}

nav{

    font-size: 20px;
    display:flex;
    flex-direction: row;
}
nav > a{
    color: white;
    padding: 6px;
    border: white solid;
    background-color: rgba(95, 158, 160, 0.599);
}

form>*{
    margin: 6px;
}
@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav>a{
        flex:100%;
    }
}