.rojo{
    color: red;
}
.claseTransicion{
    transition: background-color 1s, font-size 1s, border 1s ;
}
.claseTransicion:hover{
    /* background-color: blueviolet; */
    font-size: x-large;
    border: 4px solid black;
}


nav{
    font-size: 20px;
    display:flex;
    flex-direction: row;
}
nav > a{
    color: white;
    padding: 6px;
    border: white solid;
    background-color: rgba(95, 158, 160, 0.599);
}
.derecha{
    display: block;
    float: right;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid black;
    border-radius: 2%;
    align-items: center;
    justify-items: stretch;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
form>*{
    margin: 2%;
}
#enviar{
    grid-area: 7/2/8/3;
}
@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav>a{
        flex:100%;
    }
    form{
        display:flex;
        flex-direction: column;
    }
    form>*{
        flex: 100%;
    }
    form>input{
        flex: 80%;
    }
}